* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* variables */
  --main-bg: rgb(238, 238, 238);
  --main-color: rgb(0, 0, 0);
  --nav-bar-bg: rgb(250, 250, 250);
  --nav-bar-color: rgb(61, 153, 92);
  --nav-bar-height: 60px;
  --nav-bar-bg-hover: rgb(245, 222, 179);
  --nav-bar-bg-active: rgba(61, 153, 92, 0.9);
  --section-container-margin: 0px 100px;
  --section-container-padding: 50px 100px;
  --header-color: rgb(61, 153, 92);
  --header-bg-overlay: rgba(0, 0, 0, 0.596);
  --company-color: rgb(12, 243, 128);
  --company-bg-overlay: rgba(0, 0, 0, 0.59);
  --sub-company-color: rgb(230, 227, 227);
  --sub-company-bg: rgba(0, 0, 0, 0.596);
  --footer-bg: rgb(56, 133, 82);
  --footer-color: rgb(0, 0, 0);
}
/* reseting the link states to black and no decoration */
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
/* h1 to h6 and p default size and line height */
h1 {
  font-size: 1.9rem;
  line-height: 2.3rem;
  text-align: center;
  padding-bottom: 1rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  padding-bottom: 0.5rem;
}
h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  padding-bottom: 0.3rem;
}
h4 {
  font-size: 0.95rem;
  line-height: 1.2rem;
  text-align: center;
  padding-bottom: 0.3rem;
}
h5 {
  font-size: 0.75rem;
  line-height: 0.9rem;
  text-align: center;
  padding-bottom: 0.3rem;
}
h6 {
  font-size: 0.6rem;
  line-height: 0.75rem;
  text-align: center;
  padding-bottom: 0.3rem;
}
p {
  line-height: 1.2rem;
}
/** to ensure that when you click on an id link, the header will not cover the  beginning of the content the id is pointing to */
[id] {
  scroll-margin-top: 5em;
}
/* body */
body {
  font-size: 19px;
  background-color: var(--main-bg);
  color: var(--main-color);
}
/* default margin for the about container and contact container*/
.company-about,
.company-contact {
  margin: var(--section-container-margin);
}
/* nav section */
nav {
  background-color: var(--nav-bar-bg);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: var(--nav-bar-height);
  padding: 0 40px;
  font-weight: bold;
  font-size: 17px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 2px var(--nav-bar-bg-active);
}
/* navbar subsections i.e. logo, menu and nav-links containers */
nav > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1em;
  color: var(--nav-bar-color);
}
/* all the links */
nav a:link {
  padding: 20px 10px;
  color: var(--nav-bar-color);
}
/* logo */
nav > .logo > a {
  color: var(--nav-bar-color);
}
/* navigation links container */
nav > .nav-links {
  width: 500px;
}
/* the 1 to 3 navlinks container */
.nav-link {
  position: relative;
}
/* links on hover */
nav a:hover {
  color: var(--nav-bar-bg-hover);
  opacity: 0.7;
}
/* links when active */
nav a:active {
  text-decoration: none;
  background-color: var(--nav-bar-bg-active);
}
/* the sublinks container of the individual navlinks */
.sublink {
  position: absolute;
  width: 170px;
  top: calc(var(--nav-bar-height) - 15px);
  right: 0;
  border: solid;
  text-align: center;
  display: none;
  background-color: var(--nav-bar-bg);
  font-size: 14px;
}
.sublink:last-child {
  right: -40px;
}

/* the sublinks anchor */
.sublink a {
  display: block;
  color: var(--nav-bar-color);
  border-bottom: solid 1px var(--nav-bar-color);
}
/* the last sublinks anchor */
.sublink a:last-child {
  border-bottom: none;
}
/* when you hover on the nav link, the sublink will become visible */
.nav-link:hover{
  color: var(--nav-bar-bg-hover);
}
.nav-link:hover > .sublink {
  border: var(--nav-bar-bg);
  display: block;
}
/* header */
header {
  background-image: url("img/lanscape-buildings.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--nav-bar-color);
}
/* the div inside the header that has the background color overlay on image */
header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  background-color: var(--header-bg-overlay);
}
/* header paragraph */
header h1 {
  padding: 20px 30px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* company about and contact container */
main > .company-about,
.company-contact {
  padding: var(--section-container-padding);
}
/* company about container  */
.company-about {
  border-bottom: solid 1px grey;
}
/* the sub companies container */
.sub-companies {
  padding: 40px 0 50px;
}
/* the sub company section without its header */
.sub-companies > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* each sub company */
.sub-company {
  width: 300px;
  height: 300px;
  margin: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 3px 10px grey;
}
/* the div inside the sub compaineis container that carries the background overlay for the background image */
.sub-company > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  width: 300px;
  height: 300px;
  letter-spacing: 0.2em;
  border-radius: 5px;
  color: var(--sub-company-color);
  background-color: var(--header-bg-overlay);
}
/* sub company link hover state */
.sub-company:hover,
.sub-company > a:hover {
  height: 305px;
  width: 305px;
  box-shadow: 0 3px 15px grey;
}
/* genius company */
.genius {
  background-image: url(img/magazine.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* royal beads company */
.royalbeads {
  background-image: url(img/strings-of-beads.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* acwf company */
.acwf {
  background-image: url(img/charity-food-sharing.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* the name of the company */
.sub-company p {
  background-color: var(--header-bg-overlay);
  font-weight: 600;
  padding: 10px;
}
.sub-company p i {
  font-size: 0.8em;
  padding-left: 10px;
}
/* footer */
footer {
  background-color: var(--footer-bg);
  text-align: center;
  padding: 20px;
  color: wheat;
}
footer a:link,
footer .location > a {
  color: wheat;
}
footer .contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .contacts p {
  padding: 0 10px 10px;
}
footer .contacts p:hover {
  text-decoration: underline;
}
footer i {
  margin-right: 10px;
}
/* media query for tablet */
@media screen and (max-width: 960px) {
  * {
    --section-container-margin: 0px 70px;
    --section-container-padding: 40px 50px;
  }
  body {
    font-size: 17px;
  }
}
/* media query for smaller screen on tablet */
@media screen and (max-width: 620px) {
  * {
    --section-container-margin: 0px 40px;
    --section-container-padding: 25px 40px;
  }
  nav {
    padding: 0 0px;
    flex-direction: column;
    height: 80px;
    font-size: 14px;
  }
  nav > .logo {
    align-items: center;
    justify-content: center;
  }
  nav .nav-links {
    height: 60px;
    width: 100%;
    justify-content: space-around;
    border-top: solid 1px var(--nav-bar-color);
  }
  nav a:link {
    padding: 10px 0;
  }
  .sublink {
    top: 35px;
  }
  .sublink:last-child {
    right: -10px;
  }
}
@media screen and (max-width: 470px) {
  * {
    --section-container-margin: 0px 20px;
    --section-container-padding: 20px 10px 10px;
  }
  h2{
    padding-bottom: 0.1rem;
  }
  body {
    font-size: 16px;
  }
  footer {
    font-size: 14px;
    padding: 10px;
  }
  footer .contacts {
    flex-direction: column;
    font-size: 14px;
  }
  footer .contacts p {
    padding: 0;
  }
}
