/* reseting the link states to black and no decoration */
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav bar */
nav {
  border-bottom: solid 2px var(--nav-bar-bg-active);
  flex-direction: row;
}
/* nav sub menus */
div.logo-box,
div.menu {
  position: relative;
}
div.logo-links,
.menu {
  display: none;
}
.logo-links {
  left: -40px;
}
/* sub munu links */
.logo-links a {
  color: var(--nav-bar-bg);
  border-bottom: solid 1px var(--nav-bar-bg);
}
.logo-links a:last-child {
  color: var(--nav-bar-bg);
  border-bottom: none;
}
.logo-links a:hover {
  color: var(--nav-bar-bg-active);
}
.logo-links a:active {
  color: var(--nav-bar-color);
}
.logo-box:hover .logo-links {
  display: block;
  position: absolute;
  top: calc(var(--nav-bar-height) - 10px);
  right: 0;
  background-color: var(--nav-bar-color);
  color: var(--nav-bar-bg);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}
/* sections */
section {
  padding: var(--section-container-padding);
}
#about > .about-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var;
  align-items: center;
}
.about-body > div {
  margin: 10px;
  padding: 20px;
  padding-top: 0;
}
.about-description {
  flex-grow: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img {
  flex-grow: 60%;
}
.about-img > img {
  flex-grow: 60%;
  width: auto;
  height: 300px;
}
.royalbeads-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.royalbeads-description .royalbeads-service {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.royalbeads-service * {
  width: 50%;
  height: 240px;
  padding: 20px;
}
.royalbeads-description .royalbeads-service figcaption {
  text-align: end;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.royalbeads-description .royalbeads-service img {
  width: 100%;
  padding: 0;
  height: 200px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.acwf-description .acwf-service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.acwf-description .acwf-service img {
  width: auto;
  height: 300px;
  padding: 15px;
}
/* gallery */
#gallery {
  padding: var(--section-container-padding);
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#gallery > .gallery-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#gallery .card {
  padding: 20px;
  width: auto;
}
#gallery img {
  height: 250px;
  width: auto;
}
#gallery figcaption {
  text-align: center;
}
#gallery a {
  color: black;
  font-weight: 600;
}
#gallery .gallery-link {
  border: 2px solid var(--nav-bar-bg);
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#gallery .gallery-link a {
  color: var(--nav-bar-bg);
}
#gallery .gallery-link:hover {
  background-color: var(--main-bg);
}
#advert {
  background-color: #fff;
}
#advert p {
  text-align: justify;
}
#members > .members {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.members > div {
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(187, 186, 186);
}
.members > div > img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 200px;
  height: 200px;
}
.members > div > div {
  margin-top: 15px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members > div > div > p:last-child {
  font-weight: normal;
}
#contact {
  background-color: var(--nav-bar-bg-active);
}
#contact * {
  color: rgb(29, 29, 29);
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}
.contacts p {
  padding: 10px 20px;
}
#contact i {
  padding-right: 10px;
}
.contacts > p > a {
  color: rgb(29, 29, 29);
}
.contacts > .socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contacts > .socials > p {
  padding: 10px 20px;
  color: rgb(75, 75, 75);
  font-weight: bold;
}
.contacts > .socials > div {
  width: 100%;
  padding: 10px 20px;
  color: rgb(75, 75, 75);
  display: flex;
  justify-content: center;
}
.contacts > .socials > div > a {
  margin: 0 10px;
}
.contacts a:hover {
  text-decoration: underline;
}
.contacts a:active {
  text-decoration: none;
}
footer {
  color: var(--nav-bar-color);
}
address {
  font-style: normal;
}
/* for larger tablet */
@media screen and (max-width: 960px) {
  * {
    --section-container-margin: 0px 70px;
    --section-container-padding: 40px 50px;
  }
  .about-body > div {
    margin: 0px;
  }
}
/* for tablet */
@media screen and (max-width: 780px) {
  * {
    --section-container-margin: 0px 40px;
    --section-container-padding: 40px 40px;
  }
  nav {
    height: 50px;
  }
  nav a:link {
    color: var(--nav-bar-bg);
  }
  /* sub menu */
  .menu {
    display: block;
  }
  div.logo-links,
  div.sub-nav-links {
    display: none;
  }
  /* sub munu links */
  .logo-links a,
  .sub-nav-links a {
    color: var(--nav-bar-bg);
    border-bottom: solid 1px var(--nav-bar-bg);
  }
  .logo-links a:last-child,
  .sub-nav-links a:last-child {
    color: var(--nav-bar-bg);
    border-bottom: none;
  }
  .logo-links a:hover,
  .sub-nav-links a:hover {
    color: var(--nav-bar-bg-active);
  }
  .logo-links a:active,
  .sub-nav-links a:active {
    color: var(--nav-bar-color);
  }
  .logo-box:hover .logo-links,
  .sub-link-box:hover .sub-nav-links {
    display: block;
    position: absolute;
    top: calc(var(--nav-bar-height) - 15px);
    right: 0;
    background-color: var(--nav-bar-color);
    color: var(--nav-bar-bg);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
  }
  .contacts p {
    padding: 0px;
  }
  .contacts > .socials > div {
    align-items: center;
    padding: 5px;
  }
  .contacts > .socials > div > a {
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 700px) {
  #about > .about-body {
    flex-direction: column;
    text-align: center;
  }
}
/* for mobile */
@media screen and (max-width: 500px) {
  * {
    --section-container-margin: 0px 20px;
    --section-container-padding: 30px 10px;
  }
  h2 {
    padding-bottom: 0.1rem;
  }
  body {
    font-size: 16px;
  }
  nav {
    padding: 0 20px;
  }
  header div {
    padding: 0 10px;
  }
  #about > .about-body {
    flex-direction: column;
    text-align: center;
  }
  .genius-about-img img{
    width: 80%;
    height: auto;
  }
  .royalbeads-description .royalbeads-service {
    flex-direction: column;
    margin: 10px 0;
  }
  .royalbeads-service *{
    width: 100%;
  }
  .royalbeads-description .royalbeads-service figcaption {
    font-weight: bold;
    height: auto;
    justify-content: center;
    padding: 10px 0 10px;
    text-align: center;
  }
  .royalbeads-service div{
    padding: 0;
    height: 200px;
  }
  .royalbeads-description .royalbeads-service img {
    height: 200px;
    width: 250px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .acwf-description .acwf-service img {
    width: 300px;
    height: auto;
    padding: 15px;
  }
  #gallery .card {
    padding: 10px;
  }
  #gallery img {
    width: 250px;
    height: auto;
  }
  .socials > p {
    text-align: center;
  }
  #advert {
    padding: 30px;
  }
}
